.ilias-image {
  width: 320px;
  height: 320px;
  background-color: white;
  border: 1px solid black;
}

.buttons {
  border-bottom: 1px solid;
  display: flex;
  justify-content: right;
  padding: 10px;
  background-color: #ffd310;
}

.buttons img {
  width: 70px;
}
