body {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  background-image: linear-gradient(
      rgba(199, 199, 199, 0.3) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(199, 199, 199, 0.3) 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}

.presentation {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin-top: 100px;
}

.ilias-image {
  width: 320px;
  height: 320px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  z-index: 0;
}

.image {
  width: 320px;
  height: 320px;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.ilias-name {
  width: 200px;
  height: 70px;
  position: absolute;
  top: 55%;
  right: 20px;
  bottom: 250px;
  background-color: #ffd310;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  z-index: 1;
  padding-top: 10px;
}
.ilias-name h1 {
  color: black;
  text-align: center;
  font-size: 20px;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
  cursor: pointer;
  margin-top: 100px;
  width: 150px;
  height: 50px;
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 14px;
}
.scroll-img {
  width: 30px;
  height: 30px;
}
.ilias-about {
  margin-top: 132px;
  width: 340px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  margin-bottom: 130px;
}

.presentation-text {
  display: flex;
  justify-content: center;
}
.about-text {
  padding: 10px;
  text-align: center;
}

.br {
  display: none;
}

.download {
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
  padding: 15px;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome-text {
  display: none;
}

.bottom > img {
  margin-top: 65%;
  width: 150px;
  height: 150px;
  animation: identifier 1.5s ease infinite;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes identifier {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .presentation {
    margin-top: 100px;
  }
  .ilias-about {
    width: 704px;
  }
  .buttons-cv {
    display: none;
  }
  .buttons-cv img {
    display: none;
  }
  .ilias-about {
    margin-top: -81px;
    padding-top: 50px;
  }
  .ilias-about p {
    padding-top: 10px;
  }

  .ilias-name {
    top: 67%;
    left: 50%;
    width: 310px;
    height: 80px;
  }
  .ilias-name h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome-text {
    display: flex;
    position: absolute;
    top: 32%;
    right: 10%;
  }
  .welcome-text h1 {
    font-size: 27px;
  }
  .download {
    font-weight: bolder;
    font-size: 16px;
  }
  .scroll {
    display: none;
  }
  .ilias-about p {
    font-size: 14px;
  }
  .download {
    font-size: 14px;
  }

  .bottom > img {
    margin-top: 35%;
  }
}

@media (min-width: 1024px) {
  .ilias-image {
    margin-top: 50px;
    display: block;
    position: fixed;
    top: 7%;
    left: 10%;
    width: 380px;
    height: 380px;
  }

  .image {
    width: 380px;
    height: 380px;
  }

  .ilias-name {
    display: block;
    position: fixed;
    width: 384px;
    height: 114px;
    top: 40%;
    left: 47%;
  }
  .ilias-name h1 {
    font-size: 35px;
  }

  .ilias-about {
    width: 1000px;
    margin-bottom: 20px;
  }

  .ilias-about p {
    font-size: 20px;
  }
  .download {
    font-size: 14px;
  }

  .welcome-text {
    display: block;
    position: fixed;
    top: 24%;
    /* right: 16%; */
  }
  .welcome-text h1 {
    font-size: 45px;
  }
  .presentation-text {
    display: block;
    position: fixed;
    top: 58%;
    left: 15%;
    z-index: -1;
  }

  .br {
    display: flex;
  }
  .bottom > img {
    width: 250px;
    height: 250px;
    margin-top: 20%;
  }
}
