.ilias-image {
  width: 320px;
  height: 320px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  margin-top: 20%;
  margin-left: 50px;
  z-index: 0;
}

.buttons {
  border-bottom: 1px solid;
  display: flex;
  justify-content: right;
  padding: 10px;
  background-color: #ffd310;
}

.buttons img {
  width: 70px;
}
.ilias-name {
  width: 200px;
  height: 70px;
  background-color: #009fe3;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  z-index: 1;
  margin-top: -51px;
  margin-left: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ilias-name h1 {
  color: white;
  text-align: center;
  font-size: 20px;
}
.scroll {
  display: flex;
  justify-content: center;

  cursor: pointer;
  margin-top: 108px;
  margin-left: 180px;
  background-color: #ffd310;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
}
