.video {
  width: 340px;
  height: 320px;
}
.project-info {
  margin-top: 100px;
  padding: 20px;
}
#video {
  width: 340px;
  height: 320px;
}

.project-info-text {
  margin-top: 20px;
  width: 340px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0 #000000;
}
.info-text {
  line-height: 20px;
  font-size: 14px;
  padding: 10px;
}

.button-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.backbutton {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  color: white;
  text-decoration: none;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 14px;
}

@media (min-width: 425px) {
  .video {
    width: 380px;
  }

  #video {
    width: 380px;
    height: 320px;
  }

  .project-info-text {
    width: 380px;
  }
}

@media (min-width: 768px) {
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .video {
    width: 700px;
  }
  #video {
    width: 700px;
  }

  .project-info-text {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .video {
    width: 700px;
    height: 500px;
  }
  #video {
    width: 700px;
    height: 500px;
  }
  .project-info-text {
    margin-top: 0px;
    width: 400px;
  }
  .button-redirect {
    margin-top: 30px;
  }
  .info-text {
    line-height: 20px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  .info-text h1 {
    text-align: center;
  }
}
