.project-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 25px;
}

.projectImg {
  width: 350px;
  height: 191px;
}

.projectImg img {
  width: 100%;
}

.project {
  width: 350px;
  height: 290px;
  border: 0.1rem solid #000000;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  background-color: white;
}

.projectInformation {
  border-top: 1px solid;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.projectInformation button {
  margin-top: 25px;
  margin-right: 25px;
  background-color: #e7275c;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0 #000000;
  cursor: pointer;
  padding: 10px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.projectInformation h2 {
  font-size: 18px;
}
.text {
  line-height: 6px;
}

.projectInformation p {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .project-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .project-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }

  .project {
    margin-bottom: 70px;
  }
}
